@media (min-width: 740px) {
    #hambutton {
        display: none;
    }

    .navigation {
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigation a {
        display: block;
    }

    .res-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}